@font-face {
	font-family: aaronbt;
	src: url(../font/ARLRDBD.ttf);
}

@font-face {
	font-family: Aller;
	src: url(../font/Aller.ttf);
}
@font-face {
	font-family: AgentLightDB;
	src: url(../font/AGLN.TTF);
}



